@media screen and (max-width: 959px) {
    .main {
        width: 100%;
    }
    .title a {
        top: 60%;
        -webkit-transform: translateY(-60%);
        transform: translateY(-60%);
    }
    .article {
        flex-wrap: wrap;
    }
    .leftParts {
        margin: auto;
    }
    .rightParts {
        margin-top: 20px;
    }
    .even {
        order: 0;
    }
    .workBody {
        position: relative;
        top: 60px;
    }
    .workBody h2 {
        margin-top: 60px;
    }
    .workBody h3, .rightParts p {
        padding: 0;
    }
    .articleImg {
        width: 100%;
        max-width: 600px;
        max-height: 420px;
    }
}

@media screen and (max-width: 760px) {
    .myProfile {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 280px);
        ;
        max-height: 100%;
        min-width: 100%;
    }
    .myProfile h3 {
        margin: 0 30px 30px 30px;
    }
    .myIcon {
        grid-row-start: 1;
        width: auto;
        min-width: 280px;
        height: 260px;
        margin: 0;
        border-radius: 0;
        background-color: var(--main-bg);
    }
    .myImg {
        width: 260px;
    }
    .profile {
        width: auto;
        max-width: 640px;
    }
    .skillSlot {
        grid-column: 1/1;
    }
    .lottieCanvas {
        max-width: 80%;
        top: 0;
    }
    .work {
        margin-top: 140px;
    }
    .projectList {
        min-width: 100%;
        justify-content: space-around;
    }
    .contactList {
        min-width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (max-width: 640px) {
    .lottieCanvas {
        top: 0;
    }
}

@media screen and (max-width: 470px) {
    .title h1 {
        width: 90%;
    }
    .main {
        padding-right: 0;
        width: 100%;
    }
}

@media screen and (max-width: 415px) {
    .workBody {
        width: 90%;
        margin: auto;
    }
    .articleImg {
        max-width: 290px;
        max-height: 220px;
        cursor: zoom-in;
    }
    .work {
        margin-top: -60px;
    }
}

@media screen and (max-width: 321px) {}