@media screen and (max-width: 959px) {
    .main {
        width: 100%;
    }
    .title a {
        top: 60%;
        -webkit-transform: translateY(-60%);
        transform: translateY(-60%);
    }
    .topParts {
        margin: auto;
    }
    .workBody h2 {
        margin-top: 60px;
    }
    .workBody h3, .bottomParts p {
        padding: 0;
    }
    .articleImg {
        width: 100%;
        max-width: 600px;
        max-height: 420px;
    }
    .workMenu {
        margin: 100px 0 100px 0;
    }
    .btnWrap {
        flex-wrap: wrap;
    }
    .productTitle:before, .productTitle:after {
        padding: 0;
    }
    .topicPath {
        width: 60%;
        margin-top: 60px;
    }
}

@media screen and (max-width: 760px) {
    .myProfile {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(200px, 1fr));
        max-height: 100%;
        min-width: 100%;
    }
    .icon {
        height: 200px;
    }
    .profile {
        width: auto;
        min-width: 300px;
    }
    .profile p {
        position: absolute;
        padding: 0;
        min-width: 500px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .section {
        margin: 0 0 30px 0;
    }
    .projectList, .skillList {
        min-width: 100%;
        justify-content: space-around;
    }
    .contactList {
        min-width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contactItem {
        height: auto;
    }
    .eventsList {
        min-width: auto;
        width: 96%;
    }
    .productImage {
        height: 280px;
    }
}

@media screen and (max-width: 640px) {
    .profile p {
        padding: 0;
        min-width: auto;
        width: 80%;
    }
    .eventsContents {
        overflow-x: scroll;
    }
    th:first-child, td:first-child {
        min-width: 100px;
    }
    th:nth-child(2), td:nth-child(2) {
        min-width: 400px;
    }
    th:last-child, td:last-child {
        min-width: 240px;
    }
    .projectLink h3 {
        font-size: 160%;
    }
    .topicPath p {
        font-size: 2vmin;
    }
}

@media screen and (max-width: 470px) {
    .title h1, .caption {
        width: 90%;
    }
    .main {
        padding-right: 0;
        width: 100%;
    }
    hr {
        width: 90%;
        min-width: 0px;
    }
    .title h1 {
        font-size: 200%;
    }
    .workBody {
        width: 90%;
    }
    .skillItem {
        display: grid;
        grid-template-rows: 150px 40px;
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        height: 190px;
        margin: 20px 0 0 0;
    }
    .skillImage {
        width: 40px;
        height: 40px;
    }
    .topicPath {
        width: 90%;
    }
    .topicPath p {
        font-size: 3vmin;
    }
    .sectionList {
        margin: 0;
    }
    .section {
        margin: 0;
    }
    .section :last-child {
        margin: 0 0 30px 0;
    }
}